@use 'Tile' as tile;

.board {
  background-color: lightgoldenrodyellow;
  width: fit-content;

  &>.row {
    display: flex;

    &>.square {
      width: tile.$tile-width;
      height: tile.$tile-width;
      border: 1.5px solid brown;

      &>.empty {
        width: 100%;
        height: 100%;
      }

      &>.modifier {
        display: flex;
        text-align: center;
        place-items: center;

        &>.modifier-text {
          margin: 0;
          overflow-wrap: break-word;
          font-size: 0.7em;
          font-weight: 500;
          line-height: 1em;
        }
      }

      &>.double-word {
        background-color: pink;
      }

      &>.triple-word {
        background-color: red;
      }

      &>.double-letter {
        background-color: deepskyblue;
      }

      &>.triple-letter {
        background-color: aqua;
      }
    }
  }
}