$tile-width: 3em;
$tile-height: 3em;

.tile {
  width: $tile-width;
  height: $tile-height;
  font-family: "Noto Sans", sans-serif;
  position: relative;


  &>.letter {
    position: absolute;
    z-index: 101;
    margin-top: 0;
    top: 12%;
    left: 35%;
    font-size: 1.6em;
  }


  &>.point-value {
    position: absolute;
    z-index: 101;
    margin: 0;
    right: 2%;
    bottom: -5%;
  }

  &>.filled-blank {
    color: #666;
  }

  &>.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  $directions: "up" "top" true,
    "right" "left" false,
    "left" "left" true;

  @each $direction, $side, $negate in $directions {
    @for $i from 1 through 8 {
      &>.nudge-#{$direction}-#{$i} {
        @if ($negate) {
          margin-#{$side}: $i * -1px;
        }

        @else {
          margin-#{$side}: $i * 1px;
        }
      }
    }
  }
}