.setup-view {
  color: white;
  border: 1px solid white;
  padding-left: 1em;
  min-width: 40em;
}

.setup-view-join-game-area {
  display: flex;
}

.setup-view-name-input {
  font-size: 1em;
}

.setup-view-join-button {
  font-size: 1em;
}

.setup-view-player-list {}