@use 'Tile' as tile;

.tile-bar {
  border: 3px solid white;
  border-radius: 2px;
  display: flex;
  width: calc((tile.$tile-width + 2px) * 7);
  height: calc(tile.$tile-height + 2px);
  place-content: center;
}

.tile-bar-tile {
  margin: 1px;
}

.tile-bar-tile-unselected:hover {
  transition: 0.05s;
  filter: hue-rotate(-90deg) drop-shadow(0 0 0.3em #fff);
}

.tile-bar-tile-selected {
  filter: hue-rotate(-90deg);
}